/**
 * Admin notice styles
 */
.acf-crypt-notice_suggestion {
  display: block;
  width: 100%;
  margin-block: 0.5rem;
}

/**
 * Encrypted fields
 */
.acfcrypt-field .dashicons-shield {
  font-size: 1em;
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  margin-left: 0.2em;
  vertical-align: middle;
}
